MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DATABASE=book-api
MYSQL_USER=wsl2
MYSQL_PASSWORD=

DATABASE_URL=mysql://${MYSQL_USER}:${MYSQL_PASSWORD}@localhost:${MYSQL_PORT}/${MYSQL_DATABASE}

CLIENT_ORIGIN=http://localhost:8080